body{
    background-color: rgb(235, 176, 156);
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: baseline;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
};
.anclas{
    display: flex;
    gap: 20px;
};
table{
    width: 100%;
    max-width: 600px;
    border-collapse: collapse; /* <--- ESTA LÍNEA UNE LOS CUADROS */
    margin-bottom: 20px;
}
th, td {
  border: 5px solid aquamarine; 
  padding: 10px;
  text-align: center;       /* Centra el texto dentro de cada columna */
}