$def with (productos)
<h1>Registrar Nuevo Producto</h1>

<form method="post">
    <label for="precio">Precio:</label><br>
    <input type="number" id="precio" name="precio" step="0.01" value=$precio><br><br>

    <label for="cantidad">Cantidad:</label><br>
    <input type="text" id="cantidad" name="cantidad" value=$cantidad><br><br>

    <label for="calidad">Calidad:</label><br>
    <input type="text" id="calidad" name="calidad" value=$calidad><br><br>

    <label for="descripcion">Descripción:</label><br>
    <input type="text" id="descripcion" name="descripcion" value=$descripcion><br><br>

    <a href="/ver_productos"><button type="button">Regresar</button></a>
    <button type="submit">Guardar Producto</button>
</form>
<br>
<a href="/">Volver al Inicio</a>
