
<h1>CONTACTOS</h1>
<form action="POST">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre" readonly> <br>
    <label for="tipo">Tipo</label>
    <input type="text" name="tipo" id="tipo" readonly> <br>
    <label for="clase">Clase</label>
    <input type="text" name="calse" id="clase" readonly> <br>
    <label for="nombre_neg">Negocio al que pertenece</label>
    <input type="text" name="nombre_neg" id="nombre_neg" readonly> <br>
    <a href="/"><button type="button">Volver</button></a>
</form>