$def with (proveedores)
<h1>LISTA DE PROVEEDORES</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tipo de producto</th>
        <th>Clase de producto</th>
        <th>Distribuidor</th>
        <th>Más</th>
    </tr>
    $for proveedor in proveedores
        <tr>
            <th>$proveedor['id_proveedor']</th>
            <th>$proveedor['nombre']</th>
            <th>$proveedor['tipo']</th>
            <th>$proveedor['clase']</th>
            <th>$proveedor['nombre_neg']</th>
            <th><a href="/borrar_proveedores/$proveedor['id_proveedor']"><button>Borrar</button></a>
                <a href="/edit_proveedor/$proveedor['id_proveedor']"><button>Editar</button></a>
            </th>
        </tr>
</table>
<a href="/"><button>Regresar</button></a>
<p>Añadir proveedor</p>
<a href="/insert_proveedor"><button>Añadir</button></a>