$def with (proveedores)
<h1>LISTA DE PROVEEDORES</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tipo de producto</th>
        <th>Clase de producto</th>
        <th>Distribuidor</th>
    </tr>
    $for proveedor in proveedores
        <tr>
            <th>$proveedor['id_proveedor']</th>
            <th>$proveedor['nombre']</th>
            <th>$proveedor['tipo']</th>
            <th>$proveedor['clase']</th>
            <th>$proveedor['nombre_neg']</th>
            <th><a href="/borrar_proveedores/$proveedor['id_proveedor']"><button>borrar proveedor</button></a></th>
        </tr>
</table>