$def with (cliente)
<h1>Editar Cliente</h1>
<form method="post">

    <!-- Campo ID obligatorio para saber a quién estamos editando, pero oculto o de solo lectura -->
    <label for="id_clientes">ID Cliente</label><br>
    <input type="text" name="id_clientes" id="id_clientes" value="$cliente['id_clientes']" readonly> <br><br>

    <label for="nombre">Nombre</label> <br>
    <input type="text" name="nombre" id="nombre" value="$cliente['nombre']" required> <br><br>

    <label for="primer_apellido">Primer Apellido</label><br>
    <input type="text" name="primer_apellido" id="primer_apellido" value="$cliente['primer_apellido']" required> <br><br>

    <label for="segundo_apellido">Segundo Apellido</label><br>
    <input type="text" name="segundo_apellido" id="segundo_apellido" value="$cliente['segundo_apellido']"> <br><br>

    <label for="telefono">Teléfono</label><br>
    <input type="text" name="telefono" id="telefono" value="$cliente['telefono']"> <br><br>

    <label for="email">Email</label><br>
    <input type="email" name="email" id="email" value="$cliente['email']" required> <br><br>
    
    <a href="/ver_clientes"><button type="button">Volver</button></a>
    <button type="submit">Guardar Cambios</button>
</form>